
<div class="col-xs-12 col-md-6">
  <div id="mapid"></div>
</div>

<div class="col-xs-12 col-md-5">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="schedule-box">
      <% @directions.each_with_index do |headsign, index| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading-<%=index%>">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=index%>" aria-expanded="true" aria-controls="collapse-<%=index%>">
              <%=headsign%>
              </a>
            </h4>
          </div>
          <div id="collapse-<%=index%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%=index%>">
            <div class="panel-body">
              <table class="table table-striped">
                <tr>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "route_map", {routes: @routes, bounds: @bounds, stops: @stops} %>
<script type="text/javascript">
    $('.navbar-brand').append(" - <%="#{@route.short_name}: #{@route.long_name}"%>")
</script>